
<div class="container">
<ul class="breadcrumb">
    <li>
        <a href="/home">Home</a>
    </li>
    <li class="active">
         <%= posts.PTITLE %>
    </li>
</ul>
<h2>
    <%= posts.PTITLE %>
</h2>
<p>
    <%= posts.PCONTENT %>
</p>
<br>
<hr>
</div>